! St settings
st.termname: xterm-256color
st.shell: /bin/bash

! Reloadable settings
st.font: SourceCodePro-Regular:pixelsize=14:antialias=true:autohint=true;
st.borderpx: 2
st.cursorshape: 2
st.cursorthickness: 2
st.cursorblinkstyle: 0
st.cursorblinkontype: 0
st.bold_font: 0
st.xfps: 120
st.actionfps: 30
st.chscale: 1.0
st.cwscale: 1.0
st.blinktimeout: 0
st.bellvolume:0

! Colors
! Special
*foreground: #c6c8d1
*background: #161821

! Black
*color0: #161821
*color8: #1e2132

! Red
*color1: #e27878
*color9: #e27878

! Green
*color2: #b4be82
*color10: #b4be82

! Yellow
*color3: #e2a478
*color11: #e2a478

! Blue
*color4: #84a0c6
*color12: #84a0c6

! Purple
*color5: #a093c7
*color13: #a093c7

! Cyan
*color6: #89b8c2
*color14: #89b8c2

! White
*color7: #3e445e
*color15: #c6c8d1
