! St settings
st.termname: xterm-256color
st.shell: /bin/bash

! Reloadable settings
st.font: SourceCodePro-Regular:pixelsize=14:antialias=true:autohint=true;
st.borderpx: 2
st.cursorshape: 2
st.cursorthickness: 2
st.cursorblinkstyle: 0
st.cursorblinkontype: 0
st.bold_font: 0
st.xfps: 120
st.actionfps: 30
st.chscale: 1.0
st.cwscale: 1.0
st.blinktimeout: 0
st.bellvolume:0

! Colors
! Special
*foreground: #9aa4bd
*background: #1b202a

! Black
*color0: #1b202a
*color8: #232936

! Red
*color1: #b15e7c
*color9: #b3785d

! Green
*color2: #709d6c
*color10: #709d6c

! Yellow
*color3: #b5a262
*color11: #b5a262

! Blue
*color4: #608cc3
*color12: #608cc3

! Purple
*color5: #8f72bf
*color13: #c47ebd

! Cyan
*color6: #56adb7
*color14: #51617d

! White
*color7: #323c4d
*color15: #9aa7bd
